%#- This is the default template for creating an exam output as HTML.
%#-
%#- The Jinja2 defaults have been changed to accommodate LaTeX syntax:
%#-     latex_jinja_env = jinja2.Environment(
%#-         block_start_string='\BLOCK{',
%#-         block_end_string='}',
%#-         variable_start_string='\VAR{',
%#-         variable_end_string='}',
%#-         comment_start_string='\#{',
%#-         comment_end_string='}',
%#-         line_statement_prefix='%%',
%#-         line_comment_prefix='%#',
%#-         trim_blocks=True,
%#-         autoescape=False,
%#-         loader=jinja2.FileSystemLoader(os.path.abspath('.'))
%#-     )
%#-
%#- Feel free to modify as you see fit within these constraints.
%#-
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="generator" content="Amateur Radio Example Exams">
    <title>Amateur Radio Exam Generator Example Exams</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="navbar">
      <a href="https://gitlab.com/kronenpj/ve_exam_generator/">Repository</a>
      <a href="https://gitlab.com/kronenpj/">Other Repositories</a>
    </div>

<h1>\VAR{title}</h1>
<h2>\VAR{exam_template}</h2>
<h2>Exam number: \VAR{exam_number}</h2>
<h2>\VAR{valid_exam_text}</h2>
<hr/>

<ol start='1'>
\BLOCK{ for qnum in qdata }
<li>(\VAR{qid[qnum]}) \VAR{qdata[qnum]}</li>
  <ol type='A'> %# Responses
  \BLOCK{ for item in adata[qnum] }
    <li>\VAR{adata[qnum][item]}</li>
  \BLOCK{ endfor } %# Responses loop
  </ol> %# Responses
  <br/>
\BLOCK{ endfor } %# Question loop
</ol> %# Questions

%# Omit the answer page if the exam template string is not empty.
\BLOCK{ if exam_template == "" }
<hr/>
<h2>Answer sheet</h2>
<br/>
<ol start='1'>
\BLOCK{ for qnum in qdata }
<li>\VAR{correct[qnum]} (\VAR{qid[qnum]})</li>
\BLOCK{ endfor }
</ol>
\BLOCK{ endif }

</body>
</html>
